@import '../../../scss/colors';

@import '../../../scss/variables';

.container {
  background-color: $solitude;
  border-top: 2px solid $cerulean;
  bottom: 0;
  height: 60px;
  max-width: $pokemon-list-width + 70;
  padding: 20px 30px 30px;
  position: fixed;
  width: 100%;
}

.information {
  font-size: 16px;
}

.repo-link {
  border: 2px solid $fruit-salad;
  font-size: 16px;
  margin-left: auto;
  padding: 10px 20px;
}
