@import '../../../scss/colors';

@import '../../../scss/variables';

.pokemons-container {
  flex-wrap: wrap;
  max-width: $pokemon-list-width;
  width: 100%;
}

.no-pokemons-message {
  color: $burnt-sienna;
  font-size: 32px;
}
