@import '../../../scss/colors';

@import '../../../scss/variables';

$breakpoint-tablet: 780px;

.pokemons-container {
  flex-wrap: wrap;
  max-width: $pokemon-list-width;
  width: 100%;
}

.no-pokemons-message {
  color: $burnt-sienna;
  font-size: 32px;
}

.spinner {
  padding-top: 35px;
}

@media (max-width: $breakpoint-tablet) {
  .no-pokemons-message {
    font-size: 20px;
  }
}
