@import '../../../scss/colors';

.container {
  padding-top: 50px;
}

.field {
  color: $fun-blue;
  font-size: 14px;
}

.language-buttons {
  border-bottom: 2px solid $black;
  padding: 10px 50px 0;
}

.title {
  color: $black;
  font-size: 40px;
  font-weight: 700;
}
