@import '../../../scss/colors';

.pokemons-container {
  flex-wrap: wrap;
  margin: 300px auto 0;
  max-width: 935px;
  padding-top: 35px;
  width: 100%;
}

.no-pokemons-message {
  color: $earls-green;
  font-size: 32px;
  margin-top: 335px;
  text-align: center;
}
